
.ic_bp_button{
    background-color: #559bff !important;
    color: white !important;
    font-size: 18px !important;
    border: none !important;
    cursor: pointer !important;
    margin-bottom: 10px !important;
    text-transform: none !important;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    display: flex !important;
    /*margin: 2px 10px;*/
    /*width: 60px !important;*/
}
.ic_bp_button img {
    display: inline-block !important;
}
.newsup{
    background: #1151d3;
    color: #fff;
}
.imba_button_load {
    background-color: #559bff; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.imba_loader {
    border: none !important;
    border-radius: 50% !important;
    width: min-content !important;
    height: min-content !important;
    left: 45% !important;
    top: 39% !important;
    -webkit-animation: imba_spin 2s linear infinite;
    animation: imba_spin 2s linear infinite;
    margin-right: 10px;
}

/* Safari */
@-webkit-keyframes imba_spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes imba_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
